<form id="addUserForm">
    <div class="mb-2">
        <label>Full Name</label>
        <input class="form-control" name="fullName" required />
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input class="form-control" name="email" required />
    </div>

    <div class="mb-2">
        <div class="mb-2">
            <label>Password</label>

            <div class="input-group">
                <input class="form-control password-field"
                       type="password"
                       name="password"
                       required />

                <button type="button"
                        class="btn btn-outline-secondary toggle-password">
                    👁️
                </button>
            </div>
        </div>

    </div>

    <div id="addUserError" class="text-danger mb-2"></div>

    <button class="btn btn-primary">Add User</button>
</form>
