USE [master]
GO
/****** Object:  Database [TravelAgencyDB]    Script Date: 18/01/2026 18:25:46 ******/
CREATE DATABASE [TravelAgencyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelAgencyDB', FILENAME = N'C:\Users\messi\TravelAgencyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelAgencyDB_log', FILENAME = N'C:\Users\messi\TravelAgencyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelAgencyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelAgencyDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[TripId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rooms] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[IsFromWaitingList] [bit] NOT NULL,
	[PromotedAt] [datetime] NULL,
	[ReminderSent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceReviews]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingDeadlineDays] [int] NOT NULL,
	[CancellationDeadlineDays] [int] NOT NULL,
	[ReminderDaysBeforeTrip] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripReviews]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[TripId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[TripId] [int] IDENTITY(1,1) NOT NULL,
	[Destination] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DiscountPrice] [decimal](10, 2) NULL,
	[AvailableRooms] [int] NOT NULL,
	[PackageType] [nvarchar](50) NOT NULL,
	[AgeLimit] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsVisible] [bit] NOT NULL,
	[Popularity] [int] NOT NULL,
	[DiscountEndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](512) NULL,
	[Role] [nvarchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaitingList]    Script Date: 18/01/2026 18:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaitingList](
	[WaitingListId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TripId] [int] NOT NULL,
	[RoomsRequested] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WaitingListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [TripId], [UserId], [Rooms], [BookingDate], [Status], [IsFromWaitingList], [PromotedAt], [ReminderSent]) VALUES (31, 2, 5, 8, CAST(N'2025-12-30T20:15:50.583' AS DateTime), 2, 0, NULL, 0)
INSERT [dbo].[Bookings] ([BookingId], [TripId], [UserId], [Rooms], [BookingDate], [Status], [IsFromWaitingList], [PromotedAt], [ReminderSent]) VALUES (32, 3, 5, 2, CAST(N'2025-12-30T20:16:39.047' AS DateTime), 2, 0, NULL, 0)
INSERT [dbo].[Bookings] ([BookingId], [TripId], [UserId], [Rooms], [BookingDate], [Status], [IsFromWaitingList], [PromotedAt], [ReminderSent]) VALUES (33, 4, 5, 4, CAST(N'2025-12-30T20:21:10.467' AS DateTime), 2, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [UserId], [BookingId], [Amount], [PaymentDate], [Status]) VALUES (4, 5, 31, CAST(14400.00 AS Decimal(18, 2)), CAST(N'2025-12-30T20:16:13.2269225' AS DateTime2), 0)
INSERT [dbo].[Payments] ([PaymentId], [UserId], [BookingId], [Amount], [PaymentDate], [Status]) VALUES (5, 5, 33, CAST(6000.00 AS Decimal(18, 2)), CAST(N'2025-12-30T20:21:39.2838144' AS DateTime2), 0)
INSERT [dbo].[Payments] ([PaymentId], [UserId], [BookingId], [Amount], [PaymentDate], [Status]) VALUES (6, 9, 34, CAST(3000.00 AS Decimal(18, 2)), CAST(N'2025-12-30T20:54:11.0687978' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceReviews] ON 

INSERT [dbo].[ServiceReviews] ([ReviewId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (4, 5, 5, N'נדיר!!', CAST(N'2026-01-16T13:40:42.393' AS DateTime))
INSERT [dbo].[ServiceReviews] ([ReviewId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (5, 9, 4, N'good website', CAST(N'2026-01-16T16:09:43.360' AS DateTime))
INSERT [dbo].[ServiceReviews] ([ReviewId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (6, 10, 5, N'אתר ממש טוב', CAST(N'2026-01-16T16:10:24.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[ServiceReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([Id], [BookingDeadlineDays], [CancellationDeadlineDays], [ReminderDaysBeforeTrip]) VALUES (1, 3, 3, 4)
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[TripReviews] ON 

INSERT [dbo].[TripReviews] ([ReviewId], [TripId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (2, 32, 5, 4, N'WOW
', CAST(N'2026-01-16T13:19:44.173' AS DateTime))
INSERT [dbo].[TripReviews] ([ReviewId], [TripId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (4, 33, 5, 5, N'מושלם', CAST(N'2026-01-16T13:35:38.580' AS DateTime))
INSERT [dbo].[TripReviews] ([ReviewId], [TripId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (5, 33, 9, 4, N'Great', CAST(N'2026-01-16T16:09:24.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[TripReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([TripId], [Destination], [Country], [StartDate], [EndDate], [Price], [DiscountPrice], [AvailableRooms], [PackageType], [AgeLimit], [Description], [ImageUrl], [IsVisible], [Popularity], [DiscountEndDate]) VALUES (2, N'Paris', N'France', CAST(N'2026-06-10' AS Date), CAST(N'2026-06-17' AS Date), CAST(1800.00 AS Decimal(10, 2)), NULL, 10, N'Romantic', 16, N'Romantic getaway in Paris.', N'https://res.cloudinary.com/dtljonz0f/image/upload/c_fill,w_3840,g_auto/f_auto/q_auto:eco/v1/Paris-hp-banner_kzqphg', 1, 9, NULL)
INSERT [dbo].[Trips] ([TripId], [Destination], [Country], [StartDate], [EndDate], [Price], [DiscountPrice], [AvailableRooms], [PackageType], [AgeLimit], [Description], [ImageUrl], [IsVisible], [Popularity], [DiscountEndDate]) VALUES (3, N'Nice', N'France', CAST(N'2026-07-05' AS Date), CAST(N'2026-07-12' AS Date), CAST(1700.00 AS Decimal(10, 2)), NULL, 8, N'Luxury', NULL, N'Luxury vacation on the French Riviera.', N'https://lp-cms-production.imgix.net/2023-02/3cb45f6e59190e8213ce0a35394d0e11-nice.jpg?auto=format,compress&w=1200&fit=crop', 1, 13, NULL)
INSERT [dbo].[Trips] ([TripId], [Destination], [Country], [StartDate], [EndDate], [Price], [DiscountPrice], [AvailableRooms], [PackageType], [AgeLimit], [Description], [ImageUrl], [IsVisible], [Popularity], [DiscountEndDate]) VALUES (4, N'Lyon', N'France', CAST(N'2026-08-01' AS Date), CAST(N'2026-08-08' AS Date), CAST(1500.00 AS Decimal(10, 2)), NULL, 12, N'Family', NULL, N'Culture and food in Lyon.', N'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/da/01/47/vieux-lyon.jpg?w=1200&h=700&fit=crop', 1, 4, NULL)
SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive]) VALUES (1, N'Admin User', N'admin@travel.com', N'AQAAAAIAAYagAAAAEPQ+kLXuxGchOj/4/a98G6rSlA2+FmiuZ+/u1uKK3xLbXoz9gF9A2n10IF3xVtrxAg==', N'Admin', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive]) VALUES (5, N'Yael Levin', N'yaellevin175@gmail.com', N'AQAAAAIAAYagAAAAEH4tpVEAKoxMS72BFV2AOAtJMjXDdz6nkpqGXTLCI9PUh8P5eaRXBxtdUhSdcu7azA==', N'User', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive]) VALUES (6, N'יעל', N'a1@gmail.com', N'AQAAAAIAAYagAAAAEF7CNMZIYD2RiqoFbXwL0tvxZ1IiHDjz2DyEOvPaXe0UIyzemOu2bUjABsPyhFMG3Q==', N'User', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WaitingList] ON 

INSERT [dbo].[WaitingList] ([WaitingListId], [UserId], [TripId], [RoomsRequested], [CreatedAt]) VALUES (6, 5, 4, 15, CAST(N'2025-12-30T20:21:02.893' AS DateTime))
INSERT [dbo].[WaitingList] ([WaitingListId], [UserId], [TripId], [RoomsRequested], [CreatedAt]) VALUES (31, 5, 25, 1, CAST(N'2026-01-11T19:42:07.933' AS DateTime))
INSERT [dbo].[WaitingList] ([WaitingListId], [UserId], [TripId], [RoomsRequested], [CreatedAt]) VALUES (35, 1, 2, 4, CAST(N'2026-01-17T15:39:15.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[WaitingList] OFF
GO
/****** Object:  Index [UQ_Trip_User]    Script Date: 18/01/2026 18:25:46 ******/
ALTER TABLE [dbo].[TripReviews] ADD  CONSTRAINT [UQ_Trip_User] UNIQUE NONCLUSTERED 
(
	[TripId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349F5EC2D7]    Script Date: 18/01/2026 18:25:46 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_WaitingList_User_Trip]    Script Date: 18/01/2026 18:25:46 ******/
ALTER TABLE [dbo].[WaitingList] ADD  CONSTRAINT [UQ_WaitingList_User_Trip] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[TripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsFromWaitingList]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [ReminderSent]
GO
ALTER TABLE [dbo].[ServiceReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((0)) FOR [ReminderDaysBeforeTrip]
GO
ALTER TABLE [dbo].[TripReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT ((0)) FOR [Popularity]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[ServiceReviews]  WITH CHECK ADD  CONSTRAINT [FK_ServiceReviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ServiceReviews] CHECK CONSTRAINT [FK_ServiceReviews_Users]
GO
ALTER TABLE [dbo].[TripReviews]  WITH CHECK ADD  CONSTRAINT [FK_TripReviews_Trips] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([TripId])
GO
ALTER TABLE [dbo].[TripReviews] CHECK CONSTRAINT [FK_TripReviews_Trips]
GO
ALTER TABLE [dbo].[TripReviews]  WITH CHECK ADD  CONSTRAINT [FK_TripReviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TripReviews] CHECK CONSTRAINT [FK_TripReviews_Users]
GO
ALTER TABLE [dbo].[WaitingList]  WITH CHECK ADD  CONSTRAINT [FK_WaitingList_Trips] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([TripId])
GO
ALTER TABLE [dbo].[WaitingList] CHECK CONSTRAINT [FK_WaitingList_Trips]
GO
ALTER TABLE [dbo].[WaitingList]  WITH CHECK ADD  CONSTRAINT [FK_WaitingList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WaitingList] CHECK CONSTRAINT [FK_WaitingList_Users]
GO
ALTER TABLE [dbo].[ServiceReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[TripReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
